/* Some extra straight forward css here? */

/* HEADER */
#navbar-site-title{
    font-weight: 100;
}

/* FRONT PAGE */
/* Top stories
*/

h1, h2, h3 {
    word-break: normal;
    hyphens: auto;
}

.level-2 h3 {
    font-size:1.7rem;
}

.fa-1_2x {
    font-size: 1.2em;
}

.text-inverse.text-muted p {
	color:#909090;
}

.text-inverse.text-muted a {
	color:#909090;
}

/* Background gradient
*/

body {

    background: rgba(255,255,255,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
 }
h1, h2 {
    padding-top:2rem;
}
.flex-grow {
  flex: 1;
}

 .pingback {
	list-style-type: none;
	margin-bottom:0.5rem;
}

.badge a
{
  color: #ececec;
  text-decoration: none;
  font-weight: normal;
}

.font-weight-normal b, .font-weight-normal strong {
    font-weight: normal!important;
}

h1,h2 {
    word-break: break-word;
}


.position-relative {
    position: relative!important;
}

.position-absolute {
    position: absolute!important;
}
.top-left {
    left: 0px;
    top: 0px;
}

.left {
    left: 0px;
}

.pl-10
 {
    padding-left:5rem;
}


.bg-cover{
   background-size: cover!important;
}

.bg-featured-grid {
    background-color: #cfd8dc;
}
.footer h2{padding-top:0;}

.footer-contact i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    vertical-align: middle;
}

.footer-contact p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}



.footer-contact p a {
    color: #ffffff;
    text-decoration: none;
}

.black-marker {float:left;clear:left;background: rgba(44, 44, 44, 0.4); padding:2px;}

.bg-opa10 {
background-color: rgba(44, 44, 44, 0.1);
background: rgba(44, 44, 44, 0.1);
}
.bg-opa20 {
background-color: rgba(44, 44, 44, 0.2);
background: rgba(44, 44, 44, 0.2);
}
.bg-opa30 {
background-color: rgba(44, 44, 44, 0.3);
background: rgba(44, 44, 44, 0.3);
}
.bg-opa40 {
background-color: rgba(44, 44, 44, 0.4);
background: rgba(44, 44, 44, 0.4);
}
.bg-circle
{
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 14px 4px;
  color: #ececec;
  text-align: center;
  border-radius: 50%;
}

.bg-circle-outline
{
  width: 50px;
  height: 50px;
  color:smoke;
  padding: 8px 2px;
  border: 2px solid;
  border-color: smoke;
  border-radius: 50%;
}


.bg-circle a, .bg-circle a:hover, .media a:focus
{
  text-decoration: none !important;
  outline: none;
  color: #ececec;
}
.bg-circle-outline a, .bg-circle-outline a:hover, .media a:focus
{
  text-decoration: none !important;
  outline: none;
  color: #ececec;
}


.bg-dimmed {
  background: rgba(0, 0, 0, 0.7);
}
.card-badge {
    text-transform: uppercase;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.card-grey {
    background-color: #ccc;
    border-color: #ccc;
}

.display-1 .text-white {color: #fff;}

.redtop {
  border-top: 10px solid #ed1c24; }

.redbottom {
  border-bottom: 0.4pt dotted #ed1c24; }

.bluetop {
  border-top: 10px solid #355E7C;
}

.bluebottom {
  border-bottom: 5px solid #355E7C;
}
.text-shadow {
    text-shadow: 1px 1px 0 #fff;
}

    
/* Some links should not have any decoration */
h1 a, h2 a, h3 a, h4 a {
    text-decoration: none;
}

    .link-no-decoration {
        text-decoration: none !important;
    }

    .link-no-decoration * {
        text-decoration: none !important;
    }


/* Breadcrumb */
.breadcrumb {
    margin-bottom: 0rem;
}

ul.breadcrumb {
    margin-left: 0px;
    padding-left: 1rem;
}

.breadcrumb > li + li::before {
    content: ">";
}

.white-space-normal {
    white-space: normal;
}

.word-break-break-all {
    word-break: break-all;
}


/* Image captions overlay effect */
div.caption-overlay {
    background-color: #000;
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0.5;
    position: absolute;
    width: 100%;
}

/* Authorcards TODO -should move margins to pt-classes*/
.authorcard {
    margin-top: 60px;
}

img.authorcard-profilephoto {
    height: 100px;
    width: 100px;
    margin-top: -75px;
}


    /* Nice blockquote */
    blockquote {
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
    }

    blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }
    blockquote:after {
        content: no-close-quote;
    }

    blockquote p {
        display: inline;
    }
   
    /*****/
    /* Hr-fancy with star */
    hr.fancy-inverse,
    hr.fancy {
        padding: 0;
        border: none;
        border-top: solid 1px;
        text-align: center;
        max-width: 250px;
        margin: 25px auto 30px;
    }

    hr.fancy-inverse:after,
    hr.fancy:after {
        content: "\f0f1";
        font-family: FontAwesome;
        display: inline-block;
        position: relative;
        top: -0.8em;
        font-size: 2em;
        padding: 0 0.25em;
    }

    hr.fancy-inverse {
        border-color: white;
    }

    hr.fancy-inverse:after {
        background-color: #18bc9c;
        color: white;
    }

    hr.fancy {
        border-color: #2c3e50;
    }

    hr.fancy:after {
        background-color: white;
        background-color: #f7f7f9;
    }


.current-menu-item a {color: #ed1c24!important;}


/******************************************************************
SHADOW CLASSES
By https://github.com/Ahrengot/sass-dropshadows/blob/master/styles/css/shadows.css
Use scenarios: http://ahrengot.github.io/sass-dropshadows/
******************************************************************/
.shadow.lifted { position: relative; }
.shadow.lifted:before, .shadow.lifted:after { position: absolute; z-index: -2; content: ""; }
.shadow.lifted:before, .shadow.lifted:after { bottom: 12px; width: 50%; height: 55%; max-width: 300px; max-height: 100px; -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7); -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7); box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7); }
.shadow.lifted:before { left: 10px; -webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg); -ms-transform: rotate(-3deg); -o-transform: rotate(-3deg); transform: rotate(-3deg); }
.shadow.lifted:after { right: 10px; -webkit-transform: rotate(3deg); -moz-transform: rotate(3deg); -ms-transform: rotate(3deg); -o-transform: rotate(3deg); transform: rotate(3deg); }

.shadow.raised { position: relative; -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5); box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5); }
.shadow.raised:before, .shadow.raised:after { position: absolute; z-index: -2; content: ""; }
.shadow.raised:before, .shadow.raised:after { content: none; }

.shadow.perspective { position: relative; }
.shadow.perspective:before, .shadow.perspective:after { position: absolute; z-index: -2; content: ""; }
.shadow.perspective:before { left: 80px; bottom: 5px; width: 50%; height: 35%; max-width: 200px; max-height: 50px; -webkit-box-shadow: -80px 0 8px rgba(0, 0, 0, 0.4); -moz-box-shadow: -80px 0 8px rgba(0, 0, 0, 0.4); box-shadow: -80px 0 8px rgba(0, 0, 0, 0.4); -webkit-transform: skew(50deg, 0); -moz-transform: skew(50deg, 0); -ms-transform: skew(50deg, 0); -o-transform: skew(50deg, 0); transform: skew(50deg, 0); -webkit-transform-origin: 0 100%; -moz-transform-origin: 0 100%; -ms-transform-origin: 0 100%; -o-transform-origin: 0 100%; transform-origin: 0 100%; }
.shadow.perspective:after { display: none; content: none; }

.shadow.perspective-right { position: relative; }
.shadow.perspective-right:before, .shadow.perspective-right:after { position: absolute; z-index: -2; content: ""; }
.shadow.perspective-right:before { right: 80px; bottom: 5px; width: 50%; height: 35%; max-width: 200px; max-height: 50px; -webkit-box-shadow: 80px 0 8px rgba(0, 0, 0, 0.4); -moz-box-shadow: 80px 0 8px rgba(0, 0, 0, 0.4); box-shadow: 80px 0 8px rgba(0, 0, 0, 0.4); -webkit-transform: skew(-50deg, 0); -moz-transform: skew(-50deg, 0); -ms-transform: skew(-50deg, 0); -o-transform: skew(-50deg, 0); transform: skew(-50deg, 0); -webkit-transform-origin: 0 100%; -moz-transform-origin: 0 100%; -ms-transform-origin: 0 100%; -o-transform-origin: 0 100%; transform-origin: 0 100%; }
.shadow.perspective-right:after { display: none; content: none; }

.shadow.curved { position: relative; }
.shadow.curved:before, .shadow.curved:after { position: absolute; z-index: -2; content: ""; }
.shadow.curved:before { top: 1px; bottom: 0; left: 12px; right: 12px; -webkit-box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.5); box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.5); -moz-border-radius: 150px/10px; border-radius: 150px/10px; }

.shadow.curved-top { position: relative; }
.shadow.curved-top:before, .shadow.curved-top:after { position: absolute; z-index: -2; content: ""; }
.shadow.curved-top:before { top: 1px; bottom: 0; left: 12px; right: 12px; -webkit-box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.5); box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.5); -moz-border-radius: 150px/10px; border-radius: 150px/10px; }
.shadow.curved-top:before { bottom: 50%; }

.shadow.curved-bottom { position: relative; }
.shadow.curved-bottom:before, .shadow.curved-bottom:after { position: absolute; z-index: -2; content: ""; }
.shadow.curved-bottom:before { top: 1px; bottom: 0; left: 12px; right: 12px; -webkit-box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.5); box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.5); -moz-border-radius: 150px/10px; border-radius: 150px/10px; }
.shadow.curved-bottom:before { top: 50%; }

.shadow.curved-vertical { position: relative; }
.shadow.curved-vertical:before, .shadow.curved-vertical:after { position: absolute; z-index: -2; content: ""; }
.shadow.curved-vertical:before { top: 10px; bottom: 10px; left: 0; right: 0%; -webkit-box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.5); box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.5); -moz-border-radius: 10px/100px; border-radius: 10px/100px; }

.shadow.curved-vertical-left { position: relative; }
.shadow.curved-vertical-left:before, .shadow.curved-vertical-left:after { position: absolute; z-index: -2; content: ""; }
.shadow.curved-vertical-left:before { top: 10px; bottom: 10px; left: 0; right: 0%; -webkit-box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.5); box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.5); -moz-border-radius: 10px/100px; border-radius: 10px/100px; }
.shadow.curved-vertical-left:before { right: 50%; }

.shadow.curved-vertical-right { position: relative; }
.shadow.curved-vertical-right:before, .shadow.curved-vertical-right:after { position: absolute; z-index: -2; content: ""; }
.shadow.curved-vertical-right:before { top: 10px; bottom: 10px; left: 0; right: 0%; -webkit-box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.5); box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.5); -moz-border-radius: 10px/100px; border-radius: 10px/100px; }
.shadow.curved-vertical-right:before { left: 50%; }

.shadow:not(.lifted):not(.raised):not(.perspective):not(.perspective-right):not(.curved):not(.curved-top):not(.curved-bottom):not(.curved-vertical):not(.curved-vertical-left):not(.curved-vertical-right) { position: relative; }
.shadow:not(.lifted):not(.raised):not(.perspective):not(.perspective-right):not(.curved):not(.curved-top):not(.curved-bottom):not(.curved-vertical):not(.curved-vertical-left):not(.curved-vertical-right):before, .shadow:not(.lifted):not(.raised):not(.perspective):not(.perspective-right):not(.curved):not(.curved-top):not(.curved-bottom):not(.curved-vertical):not(.curved-vertical-left):not(.curved-vertical-right):after { position: absolute; z-index: -2; content: ""; }
.shadow:not(.lifted):not(.raised):not(.perspective):not(.perspective-right):not(.curved):not(.curved-top):not(.curved-bottom):not(.curved-vertical):not(.curved-vertical-left):not(.curved-vertical-right):before, .shadow:not(.lifted):not(.raised):not(.perspective):not(.perspective-right):not(.curved):not(.curved-top):not(.curved-bottom):not(.curved-vertical):not(.curved-vertical-left):not(.curved-vertical-right):after { bottom: 12px; width: 50%; height: 55%; max-width: 300px; max-height: 100px; -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7); -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7); box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7); }
.shadow:not(.lifted):not(.raised):not(.perspective):not(.perspective-right):not(.curved):not(.curved-top):not(.curved-bottom):not(.curved-vertical):not(.curved-vertical-left):not(.curved-vertical-right):before { left: 10px; -webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg); -ms-transform: rotate(-3deg); -o-transform: rotate(-3deg); transform: rotate(-3deg); }
.shadow:not(.lifted):not(.raised):not(.perspective):not(.perspective-right):not(.curved):not(.curved-top):not(.curved-bottom):not(.curved-vertical):not(.curved-vertical-left):not(.curved-vertical-right):after { right: 10px; -webkit-transform: rotate(3deg); -moz-transform: rotate(3deg); -ms-transform: rotate(3deg); -o-transform: rotate(3deg); transform: rotate(3deg); }


/* =WordPress Core
-------------------------------------------------------------- */
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Captions
--------------------------------------------------------------*/
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
        white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
img 
{ max-width: 100%; 
height: auto;
 }
.sticky {
	display: block;
}

.text-inverse {
    color: #eee;
}
.text-inverse a {
    color: #cee;
}

.hentry {
    padding:0;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}



/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/

/* =Index pagination
----------------------------------------------- */

/* The containing box with a nice white background */
.paging-navigation {
	font-family: sans-serif;
	padding: 1em;
	background: #fff;
	background: hsl(0, 0%, 100%);
}

/* Remove bullets and list indentation */
.paging-navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* Make the list items appear horizontally */
.paging-navigation li {
	display: inline;
}

/* Give each link and the current item some padding to make them easy to click */
a.page-numbers,
span.page-numbers {
	padding: .3em .7em;
	color: #333;
	color: hsl(0, 0%, 20%);
}

/* Link hover state */
a:hover.page-numbers {
	color: #000;
	color: hsl(0, 0%, 0%);
}

/* Current page bold and dark */
.paging-navigation .current {
	font-weight: bold;
	color: #000;
	color: hsl(0, 0%, 0%);
}



/* Wordpress image galleries. */

.gallery-item {
  padding: 0.1rem;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery {
    display: flex;
    flex-wrap: wrap;
}
.gallery-caption {
  display: block; 
  border:0;
  padding:0.5rem;
  font-size: 80%;
  font-weight: lighter;
  }  



/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/
td {
	padding:0.5rem;
}

/*--------------------------------------------------------------
# Definition list
--------------------------------------------------------------*/
dt  {
    clear:left;
    float:left;
    width:30%;
    font-size: 90%;
}

dd {
    clear:right;
    display:block;
    font-size: 85%;
    padding-left: 30%;
}

abbr{
    font-size: 85%;
    text-transform: uppercase;
    text-decoration: underline none;
}